body{
    margin: 200px 400px 200px 400px;
    background-image: url(https://www.polygon.com/22659793/marvel-cinematic-universe-vs-fast-and-furious)
}
h2{
    background-color:red;
    display: flex;
    justify-content: space-around;
    
}
h3{
    color: white;
    display:flex;
    justify-content: center;
}
.main{
    display: flex;
     justify-content:center;
     background-color:black ;
     background: rgb(0, 0, 0,0.66);} 
     